@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* footer section */
footer {
    background-color: #0B0223;
    height: 650px;
}

.footer-title {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.g {
    color: #FF42A5;
}

.web-name {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    gap: 1%;
}

.footer-cmn {
    list-style: none;
}

.footer-cmn a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.footer-next {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 3%;
}

.footer-cmn a:hover {
    color: #FF42A5;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 3.75%;
}

.footer-cmn2 a {
    text-decoration: none;
    color: #999999;
    font-size: 29px;
    font-weight: 600;
}

.footer-cmn2 a:hover {
    color: #ffffff;
    font-size: 28px;
}

.footer-cmn2 {
    list-style: none;
}

.extra {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 3.65%;
}

.footer-cmn3 a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.60);
}

.footer-cmn3 a:hover {
    color: #d465a681;
}

.endp {
    color: #FFF;
}

.end {
    display: flex;
    justify-content: center;
    padding-top: 1.5%;
}

.endp {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}

/* footers css ends here */
.bonus {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    ;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 3%;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.single-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 242px;
    height: 67px;
    border-radius: 50px;
    background: #FFF;
    font-size: 14px;
    padding-left: 7px;
}

body main .single-btn:hover {
    border: 1px solid #FF42A5;
    cursor: pointer;
}

/* bonus ends here */
.text-op {
    text-align: right;

}

.optional {
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14%;
    gap: 23%;
    margin-top: 60px;
}

.op-t {
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
}

.op-p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 5%;
}

.op-s {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.img-op {
    position: relative;
}

.img-op2 {
    position: absolute;
    top: 75%;
    right: 80%;
}

.opimg1 {
    height: 560px;
}

.opimg2 {
    height: 320px;
}









@media screen and (max-width:576px) {
    footer .footer-next {
        display: grid;
        justify-content: center;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        max-width: 80%;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 7%;
    }

    footer .footer-cmn a {
        font-size: 13px;
    }

    footer .icons {
        display: grid;
        justify-content: center;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        max-width: 80%;
        margin: 0 auto;
        padding: 7%;
    }

    footer .footer-cmn2 a {
        font-size: 30px;
    }

    footer .extra {
        display: grid;
        justify-content: center;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
        margin: 0 auto;
        padding: 4%;
    }

    footer .footer-cmn3 a {
        font-size: 10px;
    }

    footer .end {
        width: 70%;
        margin: 0 auto;
        text-align: center;

    }

    /* footers responsive ends here */
    .bonus {
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
    }


    .single-btn {
        height: 70%;
        width: 70%;
        font-size: 40%;
        padding: 5% 29% 5% 3%;
        gap: 2%;
    }

    .bi {
        width: 50%;
    }

    /* bonus ends hrre */
    .optional {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 110px;
        margin-top: 40px;

    }

    .opimg1 {
        height: 270px;
    }

    .opimg2 {
        height: 133px;
    }

    .text-op {
        text-align: center;

    }






}